<div class="main">

  <div class="table-scroll">
    <div style="text-align: center;font-size: large;"><strong>Fall 2020 Capstone - Dr. Mock</strong></div>
      <table class="table table-hover" style="border-radius: 8px;">
        <thead>
          <tr>
            <th scope="col">Project Name</th>
            <th scope="col">Student Name</th>
            <th scope="col">Term</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody >
          <tr *ngFor="let proj of Projectss" (click)="assessments()" onmouseover="" style="cursor: pointer;">
            <td scope="row">{{proj.p_name}}</td>
            <td>{{proj.s_name}}</td>
            <td>{{proj.term}}</td>

            <td *ngIf="proj.status==='Graded';else notGraded">
              <button disabled class="btn btn-outline-success btn-sm">{{proj.status}}</button>
            </td>
            <ng-template #notGraded>
              <td>
                <button disabled class="btn btn-outline-danger btn-sm">{{proj.status}}</button>
              </td>
            </ng-template>
          </tr>
        </tbody>
      </table>
  </div>
</div>
