.header {
    position: absolute;
    height: 44px;
    left: 285px;
    right: 33px;
    top: 30px;
}

.header_title {
    position: absolute;
    height: 34px;
    left: 0px;
    right: 351px;
    top: calc(50% - 34px/2 + 1px);

    /* Bold 24 (0.3 px) */
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.3px;

    /* grayscale / black */
    color: #252733;
}

.divider {
    position: absolute;
    width: 0px;
    height: 32px;
    right: 199px;
    top: calc(50% - 32px/2 + 4px);
}

.vertical_line {
    position: absolute;
    width: 0px;
    left: calc(50% - 0px/2);
    top: 0px;
    bottom: 0px;

    /* grayscale / divider */
    border: 1px solid #DFE0EB;
}

.name {
    position: absolute;
    width: 109px;
    height: 18px;
    right: 85px;
    top: calc(50% - 18px/2);

    /* Semibold 14 (0.2 px) */
    font-family: Mulish;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;

    /* or 143% */
    text-align: right;
    letter-spacing: 0.2px;

    /* grayscale / black */
    color: #252733;
}

.avi_icon {
    position: absolute;
    width: 44px;
    height: 44px;
    right: 1%;
}