<div class="main" style="overflow-y: scroll;">
  <div id="container" class="container">
    <div class="row">
      <div class="col">
        <div id="outer-card" class="card" >
          <div class="card-body">
            <div class='title'>{{this.assessmentInfo.f_name}} {{this.assessmentInfo.l_name}}</div>
            <div class='ass-header' style="font-family: 'Mulish';">{{this.assessmentInfo.title}} - {{this.assessmentInfo.semester}}, {{this.assessmentInfo.year}}</div>
            <br>
            <div *ngIf = "!this.submissionStatus; else graded">
              <div>
                <!-- style="height:650px;width:1500px;overflow:auto;" -->
                <div class="row">
                  <div class="col">
                    <div *ngFor="let req of outcome_cats; index as i">
                      <!-- <div class="card" style="margin-bottom: 2%">
                        <div class="card-body"> -->
                          <span id="outcome" *ngIf="this.outcome_cats" style="font-size: 18px;font-family: 'Mulish';font-weight: 800;">{{this.outcome_des[i].outcome_description}}</span>
                          <hr>
                            <app-suboutcome class= 'scroll'
                            [outcome_cat] = "req"
                            [assID] = "this.assessmentInfo.assessment_id"
                            [assessmentInfo]="this.assessmentInfo"
                            (newGrade)="addScore($event)"
                            (newComment)="addComment($event)"></app-suboutcome>
                            <br>
                          <!-- </div>
                        </div> -->
                      </div>
                      <button class="btn btn-secondary" style='float: left;'(click)="goBack()">back</button>
                      <button class='btn btn-primary' style='float: right;' [disabled]="" (click) = "submitScores()">Track Assessment Grades</button>
                    </div>
                  </div>

                </div>
            </div>
            <ng-template #graded>
              <app-assessment-completed></app-assessment-completed>
            </ng-template>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>
