@media (max-width: 768px) {
  .card  {
    margin-bottom: 15%;
  }

  .card-body {
    margin-bottom: 3%;
  }

  ng-container {
    height: 40%;
  }


}

.ass-header{
    font-size: large;
    font-family: 'Mulish', sans-serif;
}

.title{
    font-size: xx-large;
    font-family: 'Mulish', sans-serif;
}
