@media (max-width: 768px) {
  .outer_card{
    margin-bottom: 80% !important;
    overflow-x: hidden;
  }
  .card {
    /* margin-left: -2%; */
    /* max-width: 280px !important; */
    overflow-x: scroll
  }

  .card-body {
    /* margin-left: -1%; */
    /* width: fit-content !important; */
    margin-bottom: 5% !important;
  }

  #outcome {
    font-size: 14px !important;
  }

  /* table {
    max-width: fixed;
  } */

}


.ass-header{
    font-size: large;
    font-family: 'Mulish', sans-serif;
}

.title{
    font-size: xx-large;
    font-family: 'Mulish', sans-serif;
}
