<div class="main" style="overflow-y: scroll; overflow-x: hidden;">
  <div class="row" >
    <div class="col" >
      <div class="card" style="margin-bottom: 30px;">
        <div class="card-body">
        <div class="title" style="font-size: medium;"><strong>All Projects</strong></div>

          <table class="table">
            <thead>
              <tr>
                <th>#</th>
                <th>Project Name</th>
                <th>Student(s) Name </th>
                <th>Term</th>
                <th>Actions</th>
              </tr>

            </thead>
            <tbody>
              <tr *ngFor="let item of allProj; let i = index">
                <td>{{i + 1}}</td>
                <td>{{item.title}}</td>

                <span *ngFor="let stud of allStud">
                  <td *ngIf="item.proj_id===stud.proj_id">{{stud.f_name}} {{stud.l_name}} <button class="btn btn-warning btn-sm" style="width: 33px;height: 31px;" data-bs-toggle="modal" data-bs-target="#editStudent" (click)="editButton(item)"> <img src="../../assets/images/edit_white_24dp.svg" style="width: 20px;height: 20px;text-align: center;"alt=""> </button></td>
                </span>

                <td>{{semYear[0].semester}} {{semYear[0].year}}</td>
                <td><button class="btn btn-danger btn-sm" (click)="deleteProject(item)"> <img src="../../assets/images/delete_outline_white_24dp.svg"  alt=""> </button></td>
              </tr>
            </tbody>
          </table>
          <!-- accordion to add project in All projects-->
          <div class="accordion" id="accordionExampleAddProj">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  Add Project
                </button>
              </h2>
              <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExampleAddProj">
                <div class="accordion-body">

                    <div class="row">
                      <div class="col-12">
                        <form [formGroup]="addProjForm">
                          <label for="projName">Project Name</label>
                          <input type="text" class="form-control" formControlName="projectName" id="projName" [ngClass]="{ 'is-invalid': p.projectName.errors && submitted }">

                          <div *ngIf="p.projectName.errors && p.projectName.touched">
                            <small class="text-danger" *ngIf="p.projectName.errors.pattern">Invalid project name.</small>
                            <small class="text-danger" *ngIf="p.projectName.errors.required">Project name is required.</small>
                          </div>
                        </form>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-12">
                        <form [formGroup]="addStudForm">
                          <div class="col-5">
                            <label for="studentFirst">Student First Name</label>
                            <input type="text" class="form-control" formControlName="studentFirst" id="studentFirst" [ngClass]="{ 'is-invalid': s.studentFirst.errors && submitted }">

                            <div *ngIf="s.studentFirst.errors && s.studentFirst.touched">
                              <small class="text-danger" *ngIf="s.studentFirst.errors.pattern">Invalid first name.</small>
                              <small class="text-danger" *ngIf="s.studentFirst.errors.required">First name is required.</small>
                            </div>
                          </div>
                          <div class="col-5">
                            <label for="studentLast">Student Last Name</label>
                            <input type="text" class="form-control" formControlName="studentLast" id="studentLast" [ngClass]="{ 'is-invalid': s.studentLast.errors && submitted }">

                            <div *ngIf="s.studentLast.errors && s.studentLast.touched">
                              <small class="text-danger" *ngIf="s.studentLast.errors.pattern">Invalid last name.</small>
                              <small class="text-danger" *ngIf="s.studentLast.errors.required">Last name is required.</small>
                            </div>
                          </div>

                          <div class="col-2" style="margin-top: 15px;">
                            <div class="form-check form-check-inline">
                              <input class="form-check-input" type="radio" value="CS" required="required" formControlName="degree" [ngClass]="{ 'is-invalid': s.degree.errors && submitted }">
                              <label class="form-check-label">CS</label>

                              <div *ngIf="s.degree.errors && s.degree.touched">
                                <small class="text-danger" *ngIf="s.degree.errors.required">Major is required.</small>
                              </div>
                            </div>

                            <div class="form-check form-check">
                              <input class="form-check-input" type="radio" value="CSE" required="required" formControlName="degree" [ngClass]="{ 'is-invalid': s.degree.errors && submitted }">
                              <label class="form-check-label">CSE</label>
                              <div *ngIf="s.degree.errors && s.degree.touched">
                                <small class="text-danger" *ngIf="s.degree.errors.required">Major is required.</small>
                              </div>
                            </div>
                          </div>
                      </form>
                    </div>


                  </div>
                  <div class="col-1" style="margin-top: 30px;margin-left: 90%;">
                    <button data-bs-target="#collapseTwo" data-bs-toggle="collapse" (click)="submitAddNewProj(this.addProjForm.get('projectName')?.value)" type="submit" [disabled]="this.addStudForm.invalid" class="btn btn-primary btn-sm" style="position:relative;" >Submit</button>
                  </div>

                </div>
              </div>
            </div>
          </div>



          <!-- modal when edit button clicked next to stud name -->
          <div class="modal fade" id="editStudent" tabindex="-1" aria-labelledby="editStudent" aria-hidden="true">
            <div class="modal-dialog" *ngFor="let item of allProj;let j = index">
              <div class="modal-content" *ngIf="item.proj_id===this.projIndex">
                <div class="modal-header">
                  <h5 class="modal-title" id="editStudent" >Students In  "{{item.title}}"</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <!-- List of studs to be able to remove Stud From Project -->
                  <label for="students">Student(s)</label>
                  <ul id="students" class="list-group" *ngFor="let stud of allStud;let k = index">

                      <li *ngIf=" stud.proj_id===this.projIndex" class="list-group-item" style="justify-content: space-evenly;" >{{stud.f_name}} {{stud.l_name}}<button class="btn btn-danger btn-sm" style="margin-left: 310px;" (click)="deleteStudFromProjInModal(stud)"> <img src="../../assets/images/delete_outline_white_24dp.svg"> </button></li>

                  </ul>

                  <!-- In modal add student to project -->
                  <div class="accordion" id="editStudent" style="margin-top: 10px;" *ngIf="item.proj_id===this.projIndex">
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingEdit">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEdit" aria-expanded="false" aria-controls="collapseEdit">
                          Add Student To Project
                        </button>
                      </h2>
                      <div id="collapseEdit" class="accordion-collapse collapse" aria-labelledby="headingEdit" data-bs-parent="#editStudent">
                        <div class="accordion-body">

                          <form [formGroup]="addStudForm">

                            <div class="col-auto">
                              <label for="studentFirst">Student First Name</label>
                              <input type="text" class="form-control" formControlName="studentFirst" id="studentFirst" [ngClass]="{ 'is-invalid': s.studentFirst.errors && submitted }">

                              <div *ngIf="s.studentFirst.errors && s.studentFirst.touched">
                                <small class="text-danger" *ngIf="s.studentFirst.errors.pattern">Invalid first name.</small>
                                <small class="text-danger" *ngIf="s.studentFirst.errors.required">First name is required.</small>
                              </div>
                            </div>
                            <div class="col-auto">
                              <label for="studentLast">Student Last Name</label>
                              <input type="text" class="form-control" formControlName="studentLast" id="studentLast" [ngClass]="{ 'is-invalid': s.studentLast.errors && submitted }">

                              <div *ngIf="s.studentLast.errors && s.studentLast.touched">
                                <small class="text-danger" *ngIf="s.studentLast.errors.pattern">Invalid last name.</small>
                                <small class="text-danger" *ngIf="s.studentLast.errors.required">Last name is required.</small>
                              </div>
                            </div>

                            <div class="container" style="display: flex;margin-top: 10px;margin-left: -25px;margin-bottom: 10px;">

                              <div class="form-check form-check-inline" style="margin-left: 14px;">
                                <input class="form-check-input" type="radio" value="CS" required="required" formControlName="degree" [ngClass]="{ 'is-invalid': s.degree.errors && submitted }">
                                <label class="form-check-label">CS</label>

                                <div *ngIf="s.degree.errors && s.degree.touched">
                                  <small class="text-danger" *ngIf="s.degree.errors.required">Major is required.</small>
                                </div>
                              </div>
                              <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" value="CSE" required="required" formControlName="degree" [ngClass]="{ 'is-invalid': s.degree.errors && submitted }">
                                <label class="form-check-label">CSE</label>

                                <div *ngIf="s.degree.errors && s.degree.touched">
                                  <small class="text-danger" *ngIf="s.degree.errors.required">Major is required.</small>
                                </div>
                              </div>
                            </div>
                          </form>
                          <div class="col-auto">
                            <button type="submit" [disabled]="this.addStudForm.invalid" (click)="addStudInModal(item)" class="btn btn-primary mb-3">Add</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="resetStudentForm()">Close</button>
                  <button data-bs-dismiss="modal" type="button" class="btn btn-primary" (click)="resetStudentForm()">Save changes</button>
                </div>
              </div>
            </div>
          </div>


      </div>
    </div>
  </div>



</div>
