@media (max-width: 768px){
  .sidebar {
    min-width: 85px;
    max-width: 85px;
    height: 100%;
    text-align: center;
    z-index: 1;
    background-color: #363740;
  }

  .uaa_logo {
    position: relative;
  }

  .dashboard-title {
    display: none;
  }

  .tabs {
    position: relative;
    align-content: center;
    max-width: 80px;
    min-width: 80px;
    height: 56px;
  }

  .tabs_title {
    display: none;
  }

  .tabs_icon {
    position: absolute;
    top: calc(50% - 20px/2);
    right: 13%;
  }
}

.sidebar {
    position: fixed;
    background-color: #363740;
    width: 255px;
    height: 100%;
    z-index: 1;
}

.uaa_logo {
    position: absolute;
    width: 39px;
    height: 41px;
    left: 25px;
    top: 28px;

}

.dashboard-title {
    position: absolute;
    width: 105px;
    height: 24px;
    left: 76px;
    top: 45px;

    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 24px;
    letter-spacing: 0.4px;

    color: #A4A6B3;
    opacity: 0.7;
}

.tabs {
    position: relative;
    width: 255px;
    height: 56px;
    left: 0px;
    top: 128px;
}

.tabs_title {
    position: absolute;
    height: 20px;
    left: 72px;
    right: 24px;
    top: calc(50% - 20px/2);

    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;

    letter-spacing: 0.2px;
    color: #A4A6B3;
}

.tabs_icon {
    position: absolute;
    left: 38px;
    right: 0%;
    top: calc(50% - 20px/2);
}

.tabs:hover {
    box-shadow: 0px 0px 8px 0px #16171b;
}
