<div class="wrapper">
    <img class="uaa_logo" src="../../assets/images/uaa.png" alt="uaa_logo">
    <span class="login_title">Capstone Assessment</span>
    <span class="login_subtitle">Log In to
        Capstone Assessment</span>
    <span class="instructions">Enter your email and password below</span>

    <div class="email_container">
        <label>email</label>
        <div class="textarea_bg">

        </div>
    </div>
    <div class="password_container">
        <label>password</label>
        <div class="textarea_bg">

        </div>
    </div>

    <div class="btn_bg">
        <label>Log In</label>

    </div>
</div>