@media (max-width: 768px) {
  .dashboard_admin {
    position: absolute;
    display: flex;
    background-color: #F7F8FC;
    width: 100%;
    height: 100%;

  }

  .main {
    position: relative;
    display: flex;
    align-content: center;
    flex-direction: column !important;
    flex-wrap: nowrap;
    margin-left: 85px !important;
    height: 100%;
    max-width: 720px;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  .card_container {
    display: flex;
    flex-direction: column;
    align-content: center !important;
    align-items: center;
  }

  .card_one {
    display: flex;
    align-items: center;
    /* flex: 1; */
    background: #FFFFFF;
    position: relative;
    margin-left: 0px !important;
    margin-top: 150px;
    margin-bottom: 20px;
    width: 400px;
    height: 160px;
    justify-content: center;
  }

  .card_two {
    display: flex;

    align-items: center;
    background: #FFFFFF;
    position: relative;
    margin-bottom: 30px;
    margin-left: 0px !important;
    max-width: 500px;
    height: 600px;
    justify-content: center;

  }
}

/****** Desktop view ******/
.dashboard_admin {
    position: absolute;
    display: flex;
    background-color: #F7F8FC;
    width: 100%;
    height: 100%;
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-left: 255px;
  height: 100%;
  width: 100%;

}

.card_container {
  display: flex;
  flex-direction: column;

}

/* past assessment */
.card_one {
  display: flex;
  align-items: center;
  background: #FFFFFF;
  position: relative;
  margin-top: 150px;
  margin-left: 80px;
  width: 400px;
  height: 160px;
  justify-content: center;

}

/* current assessment */
.card_two {
  display: flex;
  align-items: center;
  background: #FFFFFF;
  position: relative;
  margin-top: 40px;
  margin-left: 80px;
  margin-bottom: 30px;
  width: 900px;
  height: 500px;
  justify-content: center;

}


.border {
    position: relative;
    display: flex;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background: #FFFFFF;

    border: 1px solid #DFE0EB;
    box-sizing: border-box;
    border-radius: 8px;
}


.title {
    position: absolute;
    width: 220px;
    height: 24px;
    left: 32px;
    right: 178px;
    top: 32px;

    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 24px;


    letter-spacing: 0.4px;

    color: #252733;
}

.select-container {
  display: flex;
  width: 315px;
  height: 60px;
  left: 46px;
  top: 56px;
  margin-top: 25px;
  align-items: center;
}

.selectBox {
  position: relative;
  width: 121px;
  height: 31px;
  left: 0px;
  top: 17px;
  margin-right: 20px;
  background: #EDEDED;
  border-radius: 5px;
}

.selectBox-title {
  position: relative;
  width: 90px;
  height: 18px;
  margin-left: 8px;
  margin-top: 4px;

  font-family: Mulish;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;

  letter-spacing: 0.4px;
}




.subtitle {
    position: absolute;
    height: 16px;
    left: 32px;
    right: 178px;
    top: 64px;


    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;


    letter-spacing: 0.1px;

    color: #9FA2B4;
}

.viewDetails {
    position: absolute;
    width: 110px;
    height: 18px;
    right: 32px;
    top: 37px;
}

.entry {
    position: relative;
    height: 58px;
    left: 0px;
    right: 0px;
    top: 96px;
    border-bottom: 1px solid #DFE0EB;
}

.entryText {
    position: absolute;
    height: 20px;
    left: 40px;
    right: 136px;
    top: calc(50% - 20px/2 + 1px);

    font-family: Mulish;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;

    color: #252733;
}

.dashboard_prof {
    position: absolute;
    background-color: #F7F8FC;
    width: 100%;
    height: 100%;
}



