<!-- admin dashboard -->
<div class="dashboard_admin" *ngIf="this.loginService.userAdmin;else prof">
  <div class="main">


    <div class="card">
      <div class="card-body">
        Short cut to manage faculty that will be assessing this semester
        <button class="btn btn-secondary" (click)="goToManAssessor()">Edit</button>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        Short cut to manage current students and projects
        <button class="btn btn-secondary" (click)="goToManProj()">Edit</button>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        Short cut to manage administrators for this system
        <button class="btn btn-secondary" (click)="goToAdmins()">Edit</button>
      </div>
    </div>

  </div>

</div>


<!-- professor dashboard -->
<ng-template #prof class="dashboard_prof">
    <app-projects></app-projects>
</ng-template>
