<app-sidebar></app-sidebar>
<app-header></app-header>

<!-- admin dashboard -->
<div class="dashboard_admin" *ngIf="this.loginService.userAdmin;else prof">


    <div class="main">
      <div class="card_container">
        <div class="card_one">
          <div class="border"></div>
          <div class="title">Past Assessments</div>
          <div class="select-container">
            <div class="dropdown" style="margin-right: 15px;">
              <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                Select Term
              </a>

              <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <li><a class="dropdown-item" href="#">Fall</a></li>
                <li><a class="dropdown-item" href="#">Spring</a></li>
              </ul>
            </div>

            <div class="dropdown">
              <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                Select Year
              </a>

              <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <li><a class="dropdown-item" href="#">2020</a></li>
                <li><a class="dropdown-item" href="#">2019</a></li>
                <li><a class="dropdown-item" href="#">2018</a></li>
              </ul>
            </div>

          </div>

        </div>

        <div class="card_two">
            <div class="border"></div>
            <div class="title">Current Assessments</div>
            <div class="subtitle">Term: Fall 2021</div>
            <a routerLink="/projects" routerLinkActive="active">
                <div class="viewDetails">View Details</div></a>

            <div class="entry">
                <div class="entryText">Not graded</div>
            </div>
            <div class="entry">
                <div class="entryText">In progress</div>
            </div>
            <div class="entry">
                <div class="entryText">Graded</div>
            </div>
            <div class="entry">
                <div class="entryText">Total assessments</div>
            </div>
        </div>
      </div>
    </div>
</div>


<!-- professor dashboard -->
<ng-template #prof class="dashboard_prof">
    <!-- <h1>in prof page</h1> -->
    <app-projects></app-projects>

</ng-template>
