
<div class="main">
  <div class="container" style="max-height: fit-content;width: fit-content">
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-body" style="text-align: center;">
            <div class="title">Outcome Trends</div>
            <form [formGroup]="outcomeForm">
              <div class="select-container">
                <div class="container" style="display: flex; justify-content: center;">
                  <div class="dropdown" style="margin-right: 8px;">
                    <select class="btn btn-secondary btn-sm dropdown-toggle" formControlName="term" required="required">
                      <option value="">Select Term</option>
                      <option value="Fall">Fall</option>
                      <option value="Spring">Spring</option>
                    </select>
                  </div>

                  <div class="dropdown">
                    <select class="btn btn-secondary btn-sm dropdown-toggle" formControlName="year" required="required">
                      <option value="">Select Year</option>
                      <option value="2018">2018</option>
                      <option value="2019">2019</option>
                      <option value="2020">2020</option>
                      <option value="2021">2021</option>
                    </select>
                  </div>
                </div>
                <div class="form-check form-check-inline" style="margin-left: 14px;">
                  <input class="form-check-input" type="radio" value="CS" required="required" formControlName="degree">
                  <label class="form-check-label">CS</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" value="CSE" required="required" formControlName="degree">
                  <label class="form-check-label">CSE</label>
                </div>
                <div *ngIf="this.outcomeForm.get('degree')?.invalid && outcomeForm.valid">Select CS or CSE.</div>
              </div>

              <button type="submit" [disabled]="outcomeForm.invalid" class="btn btn-success btn-sm" style="margin-left: 12px;"
                  (click)="findTrends()">Find</button>
            </form>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card">
          <div class="card-body" style="text-align: center;">
            <div class="title">Past Assessments</div>
            <form [formGroup]="pastForm">
              <div class="select-container">
                <div class="container" style="display: flex; justify-content: center;">
                  <div class="dropdown" style="margin-right: 8px;">
                    <select (change)= "silenceForm()"class="btn btn-secondary btn-sm dropdown-toggle" formControlName="term" required="required">
                      <option value="">Select Term</option>
                      <option value="Fall">Fall</option>
                      <option value="Spring">Spring</option>
                    </select>
                  </div>

                  <div class="dropdown">
                    <select (change)= "silenceForm()" class="btn btn-secondary btn-sm dropdown-toggle" formControlName="year" required="required">
                      <option value="">Select Year</option>
                      <option value="2018">2018</option>
                      <option value="2019">2019</option>
                      <option value="2020">2020</option>
                      <option value="2021">2021</option>
                    </select>
                  </div>
                </div>
                <div class="form-check form-check-inline" style="margin-left: 14px;">
                  <input (click)= "changeDegree()" class="form-check-input" type="radio" value="CS" required="required" formControlName="degree">
                  <label class="form-check-label">CS</label>
                </div>
                <div class="form-check form-check-inline">
                  <input (click)= "changeDegree()" class="form-check-input" type="radio" value="CSE" required="required" formControlName="degree">
                  <label class="form-check-label">CSE</label>
                </div>
                <div *ngIf="this.pastForm.get('degree')?.invalid && pastForm.valid">Select CS or CSE.</div>
              </div>

              <button type="submit" [disabled]="pastForm.invalid" class="btn btn-success btn-sm" style="margin-left: 12px;"
                  (click)="findPast();">Find</button>
            </form>
          </div>
        </div>
      </div>
    </div>
<!-- this.num].outcome_description -->
    <!-- table that displays past assessments -->
    <div class="row" *ngIf="displayPast" >
      <!-- <form [formGroup]="outcomeForm" placeholder="outcome 1"> -->
      <div class="col-12" style="align-items: center;">
        <div class="card" id="displayCard" style="position: relative; max-height: 500px !important; max-width:1300px;margin-top: 3%;margin-bottom: 10% !important">
          <div class="card-body" id="displayCardBody" style=" overflow-y: scroll;">
              <div *ngIf="this.pastForm.get('degree')?.value ==='CS';else cse">
                
                  <div class="d-flex justify-content-start">
                    <div id="title">
                        <strong id="outcomeDescriptionCS">{{this.displayTitle[this.num]}}</strong>
                    </div>
                  </div>
                  
                    <div class="d-flex justify-content-end">
                      <div class="dropdown">
                        <form [formGroup]="categoryForm" (change)="changeOutcomes($event)">
                        <select formControlName="selected" class="btn btn-secondary btn-sm dropdown-toggle">
                          <ng-container >
                            <option id = "change" *ngFor="let i of this.unique" [ngValue]= "i" >Outcome {{i}}</option>
                          </ng-container>
                        </select>
                      </form>
                      </div>
                    </div>
                  </div>
                
              


              <ng-template #cse>
                <div class="d-flex justify-content-start">
                  <div id="title">
                    <strong id="outcomeDescriptionCSE">{{this.displayTitle[this.num]}}</strong>
                  </div>
                </div>

                <div class="d-flex justify-content-end">
                  <div class="dropdown">
                    <form [formGroup]="categoryForm" (change)="changeOutcomes($event)">
                      <select formControlName="selected" class="btn btn-secondary btn-sm dropdown-toggle">
                        <ng-container >
                          <option id = "change" *ngFor="let i of this.unique" [ngValue]= "i" >Outcome {{i}}</option>
                        </ng-container>
                      </select>
                    </form>
                  </div>
                </div>
              </ng-template>


            <table class="table" >
              <thead >
                <tr>
                  <th scope="col">Evaluation Criteria</th>
                  <th scope="col">Poor</th>
                  <th scope="col">Developing</th>
                  <th scope="col">Satisfactory</th>
                  <th scope="col">Excellent</th>
                  <th scope="col">Totals</th>
                </tr>
              </thead>

               <tbody >

                  <!-- <tr *ngFor="let item of this.allCSInfo"> -->

                    <!-- <div *ngFor="let o in result; index as i"> -->
                  <tr *ngFor="let sub of this.subInfo">
                    <td scope="col" >{{sub.s_description}}</td>
                    <td scope="row">{{sub.poor_count}}</td>
                    <td scope="row">{{sub.developing_count}}</td>
                    <td scope="row">{{sub.satisfactory_count}}</td>
                    <td scope="row">{{sub.excellent_count}}</td>
                    <td scope="row">{{sub.total}}</td>
                      <!-- </div> -->
                  </tr>

                  <tr>
                    <th scope="row">Total</th>
                    <td scope="row">{{this.totes[num].poor_count}}</td>
                    <td scope="row">{{this.totes[num].developing_count}}</td>
                    <td scope="row">{{this.totes[num].satisfactory_count}}</td>
                    <td scope="row">{{this.totes[num].excellent_count}}</td>

                  </tr>
                  <tr >
                    <th scope="row">Percentages</th>
                    <td scope="row">{{this.totes[num].poor_percent}}%</td>
                    <td scope="row">{{this.totes[num].developing_percent}}%</td>
                    <td scope="row">{{this.totes[num].satis_percent}}%</td>
                    <td scope="row">{{this.totes[num].ex_percent}}%</td>

                  </tr>


              </tbody>
<!-- num is past component is an index, id is a category -->
            </table>
              <app-comment-modal
              [comments]= "comments"
              [id] = "this.id"
              [sem] = "sem"
              [year] = "year"
              [degree] = "degree"
              ></app-comment-modal>
          </div>
        </div>
        
      </div>
    
</div>
    <!-- display outcomes table -->
    <!-- <ng-container *ngIf="(this.outcomeTrends$ | async) as result">
      <div *ngFor="let o of result; index as i">
        {{result[i].cat_description}}
      </div>
    </ng-container> -->
    <ng-container *ngIf="displayOutcome">

        <div class="col-12" style="align-items: center;">
          <div class="card" id="displayCard" style="position: relative; max-height: 500px !important; max-width:1300px;margin-top: 3%;margin-bottom: 10% !important">
            <div class="card-body" id="displayCardBody" style=" overflow-y: scroll;">

              <div id="title" style="text-align: center;">
                <strong> Outcome Trend</strong>
              </div>
              <ng-container *ngIf="(this.outcomeTrends$ | async)">
              <table class="table" >
                <thead >
                  <tr>
                    <th scope="col">Outcome</th>
                    <th scope="col">Poor</th>
                    <th scope="col">Developing</th>
                    <th scope="col">Satisfactory</th>
                    <th scope="col">Excellent</th>
                  </tr>
                </thead>
                  <tbody>
                    <tr *ngFor="let o of this.outcomeTrends">
                        <td scope="row" style="max-width: 140px;">{{o.cat_description}}</td>
                        <td scope="row">{{o.poor_percent}}%</td>
                        <td scope="row">{{o.developing_percent}}%</td>
                        <td scope="row">{{o.satisfactory_percent}}%</td>
                        <td scop="row">{{o.excellent_percent}}%</td>
                    </tr>
                    </tbody>
              </table>
              
          </ng-container>
            </div>
          </div>
        </div>
